
@{
    ViewBag.Title = "Index";
    ViewBag.keywords = "Software services in pakistan,software services,9Soft Solution Services";
    ViewBag.description = "9Soft Solution offers software services like website(design, development,  hosting), eCommerce Solutions, graphics, software development, SEO,  etc.";
}




<!-- breadcrumb-area start -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_box text-center">
                    <h2 class="breadcrumb-title">Our Services</h2>
                    <!-- breadcrumb-list start -->
                    <ul class="breadcrumb-list">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li class="breadcrumb-item active">Our Services</li>
                    </ul>
                    <!-- breadcrumb-list end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area end -->





<div class="site-wrapper-reveal">
    <!--===========  feature-images-wrapper  Start =============-->
    <div class="feature-images-wrapper section-space--ptb_100">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <!-- section-title-wrap Start -->
                    <div class="section-title-wrap text-center">
                        <h3 class="heading">Preparing for your success, <br> we provide <span class="text-color-primary">  truly prominent software solutions.</span></h3>
                    </div>
                    <!-- section-title-wrap Start -->
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="feature-images__one">
                        <div class="row">

                            <div class="col-lg-4 col-md-6 wow move-up">
                                <!-- ht-box-icon Start -->
                                <div class="ht-box-images style-01">
                                    <div class="image-box-wrap">
                                        <div class="box-image">
                                            <img class="img-fulid wow pulse" src="~/assets/images/icons/vectors/Graphics.png" alt="Graphics icon" style="height:108px;">
                                        </div>
                                        <div class="content">
                                            <h5 class="heading">Graphics Design</h5>
                                            <div class="text">
                                                Create visual concepts to communicate ideas that inspire, inform, and captivate consumers. Develop the overall layout and production design for applications such as advertisements, brochures, magazines, and reports.
                                            </div>
                                            <div class="circle-arrow">
                                                <div class="middle-dot"></div>
                                                <div class="middle-dot dot-2"></div>
                                                <a href="@Url.Action("GraphicsDetail", "Services")">
                                                    <i class="far fa-long-arrow-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ht-box-icon End -->
                            </div>

                            <div class="col-lg-4 col-md-6 wow move-up">
                                <!-- ht-box-icon Start -->
                                <div class="ht-box-images style-01">
                                    <div class="image-box-wrap">
                                        <div class="box-image">
                                            <img class="img-fulid wow pulse" src="~/assets/images/icons/vectors/SEO.png" alt="SEO icon" style="height:108px;">
                                        </div>
                                        <div class="content">
                                            <h5 class="heading">SEO</h5>
                                            <div class="text">
                                                No matter how good your website is, it’ll rarely live up to expectations if your visitors can’t find it in the first place. We build websites from the outset with Search Engine visibility in mind, from page naming to sitemaps.
                                            </div>
                                            <div class="circle-arrow">
                                                <div class="middle-dot"></div>
                                                <div class="middle-dot dot-2"></div>
                                                <a href="@Url.Action("SEODetail", "Services")">
                                                    <i class="far fa-long-arrow-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ht-box-icon End -->
                            </div>

                            <div class="col-lg-4 col-md-6 wow move-up">
                                <!-- ht-box-icon Start -->
                                <div class="ht-box-images style-01">
                                    <div class="image-box-wrap">
                                        <div class="box-image">
                                            <img class="img-fulid wow pulse" src="~/assets/images/icons/vectors/social media management.png" alt="SMM icon" style="height:108px;">
                                        </div>
                                        <div class="content">
                                            <h5 class="heading">Social Media Management</h5>
                                            <div class="text">
                                                9Soft solution, employees are skilled in social media management who make effective use of well-focused business strategies and manage business channels with absolute prudence.
                                            </div>
                                            <div class="circle-arrow">
                                                <div class="middle-dot"></div>
                                                <div class="middle-dot dot-2"></div>
                                                <a href="@Url.Action("SocialMediaDetail", "Services")">
                                                    <i class="far fa-long-arrow-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ht-box-icon End -->
                            </div>

                            <div class="col-lg-4 col-md-6 wow move-up">
                                <!-- ht-box-icon Start -->
                                <div class="ht-box-images style-01">
                                    <div class="image-box-wrap">
                                        <div class="box-image">
                                            <img class="img-fulid wow pulse" src="~/assets/images/icons/vectors/e commerce.png" alt="ECommerce icon" style="height:108px;">
                                        </div>
                                        <div class="content">
                                            <h5 class="heading">E-Commerce Platform</h5>
                                            <div class="text">
                                                We are expert in building dynamic database-driven E-Commerce Web Applications, the most cost-effective approach of promoting your business online
                                            </div>
                                            <div class="circle-arrow">
                                                <div class="middle-dot"></div>
                                                <div class="middle-dot dot-2"></div>
                                                <a href="@Url.Action("ECommerceDetail", "Services")">
                                                    <i class="far fa-long-arrow-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ht-box-icon End -->
                            </div>

                            <div class="col-lg-4 col-md-6 wow move-up">
                                <!-- ht-box-icon Start -->
                                <div class="ht-box-images style-01">
                                    <div class="image-box-wrap">
                                        <div class="box-image">
                                            <img class="img-fulid wow pulse" src="~/assets/images/icons/vectors/web development.png" alt="web development icon" style="height:108px;">
                                        </div>
                                        <div class="content">
                                            <h5 class="heading">Web Design & Development</h5>
                                            <div class="text">
                                                Even a best design in universe won’t help you if no one can find you. Our full spectrum creative and innovative marketing services includes a search engines friendly websites with user-friendly content management system.
                                            </div>
                                            <div class="circle-arrow">
                                                <div class="middle-dot"></div>
                                                <div class="middle-dot dot-2"></div>
                                                <a href="@Url.Action("WebDevDetail", "Services")">
                                                    <i class="far fa-long-arrow-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ht-box-icon End -->
                            </div>

                            <div class="col-lg-4 col-md-6 wow move-up">
                                <!-- ht-box-icon Start -->
                                <div class="ht-box-images style-01">
                                    <div class="image-box-wrap">
                                        <div class="box-image">
                                            <img class="img-fulid wow pulse" src="~/assets/images/icons/vectors/web hosting.png" alt="web hosting icon" style="height:108px;">
                                        </div>
                                        <div class="content">
                                            <h5 class="heading">Web Hosting</h5>
                                            <div class="text">
                                                9Soft Solution has revolutionized web hosting with its quality of services and packages. Regardless of the size of your business.
                                            </div>
                                            <div class="circle-arrow">
                                                <div class="middle-dot"></div>
                                                <div class="middle-dot dot-2"></div>
                                                <a href="@Url.Action("WebHostingDetail", "Services")">
                                                    <i class="far fa-long-arrow-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ht-box-icon End -->
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        @Html.Action("pvLetsTalkSection", "Home")
    </div>
    <!--===========  feature-images-wrapper  End =============-->

</div>

